{% extends "layout.njk" %}

{% block head %}
  <title>Cursos</title>
{% endblock %}

{% block content %}

<div id="wrapper">
      <h1>Conteúdos</h1>
    </div>
    <section class="posts">
      {%for article in articles%}
      <div class="post" id="{{article.id}}">
        <div class="post-image">
          <img src="{{article.img}}" alt="Imagem de {{article.title}}">
        </div>
        <div class="titulo">
          <p>{{article.title}}</p>
        </div>
        <div class="post-info">
          <div class="autor">
            <p>{{article.author}}</p>
          </div>
          <div class="tempo-leitura">
            {{article.reading_time}}
          </div>

        </div>
      </div>
      {%endfor%}
      
    </section>

    <div class="modal-overlay">
      <div class="modal">
        <div class="modal-header">
          <a class="maximize-modal">
            <i class="material-icons">maximize</i>
          </a>
          <a class="close-modal">
            <i class="material-icons">close</i>
          </a>
        </div>
        <div class="modal-content">
          <iframe src="" frameborder="0"></iframe>
        </div>
      </div>

    </div>
    <script src="scripts.js"></script>

{% endblock %}